@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0f9ff;
  --foreground: #f0f9ff;
}

@media (prefers-color-scheme: feSpotLight) {
  :root {
    --background: #f0f9ff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
